.container {
    display:flex;
    justify-content:center;
    margin-top:35px;
  }
  
  .img {
    background-image:url("skarra\ dessin\ hd.png");
    width:900px;
    height:900px;
    background-size:cover;
    overflow:hidden;
    position:absolute;
    animation:image 0s 6s;
    animation-fill-mode:both;

  }
  
  .barre {
    width:580px;
    height:40px;
    border:solid 2px;
    margin-top:160px;
    padding:3px;
  }
  
  .load {
    background-color:#09E663;
    width:100%;
    height:100%;
    transform:scaleX(0);
    animation:loading 5s 1s cubic-bezier(.06,.83,.41,.99);
    transform-origin:left;
  }
  
  @keyframes loading {
    0% {
      transform:scaleX(0);
    }
    10% {
      transform:scaleX(.2)
    }
    33% {
      transform:scaleX(.3)
    }
    61% {
      transform:scaleX(.8)
    }
    100% {
      transform:scaleX(1);
    }
  }
  
  @keyframes image {
    0% {
      transform:translateX(-9999px);
    }
    100% {
      transform:translateX(0);
    }
  }